{% extends "layouts/main.njk" %}

{% block content %}
<div class="container">
    <h1>Bienvenido a la Ticketera!</h1>
</div>
<!-- Agrega el footer -->
<footer class="text-center mt-4">
    <p>MMXXV - Juan M. Bonomo</p>
</footer>
{% endblock %}
